<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    

<mapper namespace="kr.co.test05.member.memberMapper">

 	<insert id="insertMember" parameterType="kr.co.test05.member.vo.MemberVO">
		INSERT INTO member(
            mem_email,
            mem_pass,
            mem_authId,
            mem_hp
        )VALUES(
            #{mem_email},
            #{mem_pass},
            #{mem_authId},
            #{mem_hp}
        )
	</insert>


</mapper>